<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "signin" %>

  </head>

  <body>

    <div class="container form-signin" style="margin-top:70px; background:#FFFFFF; box-shadow:0px 0px 10px #666666; border:1px solid #CCCCCC;">   
      <%= form_for(:user, :url => {:action => "login_attempt"}) do |f|  %>
       
        <h2 class="form-signin-heading">Sign in </h2>
        <div class="line"> </div>
        <%= f.text_field(:username, :size =>25, :maxlength=> 25, :placeholder => "Username", :class => 'form-control')%>
        <br>
         <%= f.text_field(:first_name, :size =>25, :maxlength=> 25, :placeholder => "First Name", :class => 'form-control')%>
        <br>
         <%= f.text_field(:last_name, :size =>25, :maxlength=> 25, :placeholder => "Last Name", :class => 'form-control')%>
        <br>
         <%= f.password_field(:password, :size =>25, :maxlength=> 25, :placeholder => "Password", :class => 'form-control')%>
        <br>
         <%= f.text_field(:linked_in, :size =>25, :maxlength=> 25, :placeholder => "Linked In", :class => 'form-control')%>
        <br>
         <%= f.date_select(:date_of_birth, :order => [:month, :day, :year], :prompt =>true, :start_year => 1930, :end_year =>Time.now.year, :class => 'form-control')%>
        <br>
        <br>
          <span>
             Gender:
         </span>
         <span style="margin-left:20px;">
             Male <%= f.radio_button(:gender, :class => 'form-control', :value => "Male")%>
         </span>
         <span style="margin-left:20px;">
             Female <%= f.radio_button(:gender, :class => 'form-control', :value => "Female")%>
         </span>
        <br>
        <br>
         <%= f.text_area(:about_me, :size =>25, :maxlength=> 25, :placeholder => "About me", :class => 'form-control')%>
        <br>
         <%= f.text_field(:contact_no, :size =>25, :maxlength=> 25, :placeholder => "Contact Number", :class => 'form-control')%>
        <br>
         <%= f.text_field(:email, :size =>25, :maxlength=> 25, :placeholder => "Email", :class => 'form-control')%>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <%= submit_tag("Create Account", :class => 'btn btn-lg btn-success btn-block') %>
      <% end %>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
